.card-sobre {
    /*border: 1px solid red;*/
    height: 610px;
    margin-bottom: 30px;
}

.card-galeria {
    margin-bottom: 30px;
}

.centro {
    text-align: center;
}

.centro-margem {
    text-align: center;
    margin: 30px;
}
